<%- content_for( :top_items_active ) { "nav-link-active" } %>

<div class="news-view view">
  <div class="news-list-nav">
    <% if @page <= 0 %>
      <a href="/top" class="disabled">&lt; prev</a>
    <% else %>
      <%= link_to "&lt; prev".html_safe, top_path(page: @page - 1) %>
    <% end %>
    
    <span><%= @page + 1 %>/<%= @total_pages + 1 %></span>
    
    <% if @page + 1 > @total_pages %>
      <a class="disabled">more &gt;</a>
    <% else %>
      <%= link_to "more &gt;".html_safe, top_path(page: @page + 1) %>
    <% end %>
    
  </div>
  <div class="news-list">
    <%= cache ['news-list', @top_item, @page] do %>
      <ul data-controller="top-item" data-top-item-items="<%= @top_items.pluck(:item_id) %>" data-top-item-locations="<%= @top_items.pluck(:location) %>">
        <% @top_items.each do |top_item| %>
          <%= cache top_item do %>
            <%= render top_item %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>