<%= cache ['user', @user_id, @user ]  do %>
  <div class="user-view view" data-controller="user" data-user-id="<%= @user_id %>">
    <h1>User : <%= @user_id %></h1>
    <ul class="meta" data-target="user.metadata">
      <%= render partial: 'metadata', locals: { user: @user } %>
    </ul>
    <p class="links">
      <a href="https://news.ycombinator.com/submitted?id=<%= @user_id %>">submissions</a> |
      <a href="https://news.ycombinator.com/threads?id=<%= @user_id %>">comments</a>
    </p>
  </div>
<% end %>