<%= cache ['comments-list', item] do %>
  <ul class="comment-children" data-target="toggle.comments">
    <% item.kids.order(:kid_location).each do | kid | %>
      <li class="comment">
        <div class="by"><a href="/user/<%= kid.by %>" class=""><%= kid.by %></a> <%= local_time_ago kid.time %></div>
        <div class="text">
          <%= kid.text.html_safe unless kid.text.nil? %>
        </div>
        <% if kid.kids.count > 0 %>
          <div data-controller='toggle' data-toggle-count="<%= kid.kids.count %>">
            <div class="toggle open" data-target="toggle.toggle"><a data-target='toggle.link' data-action="toggle#toggle">[-]</a></div>
            <%= render partial: 'comments', locals: { item: kid } %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>