<%= cache ['comments-list', item] do %>
  <% item.kids.order(:kid_location).each do | kid | %>
    <article class="media" data-controller='toggle' data-toggle-count="<%= [kid.kids.count, 1].max %>" data-hn-id="<%= item.hn_id %>">
      <% unless item.story? %>
        <div class="media-left">
          <div class="toggle open" data-target="toggle.toggle"><a class="button" data-target='toggle.link' data-action="toggle#toggle">[-]</a></div>
        </div>
      <% end %>
      <div class="media-content" data-target="toggle.comments">
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <a href="/user/<%= kid.by %>"><strong><%= kid.by %></strong></a>
            </a>
          </div>
          <div class="level-right">
            <a class="level-item">
              <em><%= local_time_ago kid.time %></em>
            </a>
          </div>
        </nav>
        <div class="content">
          <%= kid.text.html_safe unless kid.text.nil? %>
        </div>
        <% if kid.kids.count > 0 %>
          <%= render partial: 'comments', locals: { item: kid } %>
        <% end %>
      </div>
    </article>
  <% end %>
<% end %>
