<%= cache item do %>
  <div class="card" data-item-id="<%= item.id %>">
    <header class="card-header">
      <p class="card-header-title">
        <span class="tag is-link is-rounded"><%= item.score %></span>
        <% if item.job? %>
          &nbsp;&nbsp;job
        <% end %>
         <% unless item.host.nil? %>
          &nbsp;&nbsp;<span class="host"> <%= item.host %></span>
        
      <% end %>
      </p>
    </header>
    <div class="card-content">
     
      <p class="title">
        <% if item.url.nil? %>
          <%= link_to item.title, item_path(item.hn_id) %>
        <% else %>
          <%= link_to item.title, item.url, { target: '_blank', rel: 'noopener' } %>
        <% end %>
      </p>
      <p class="content">
        <%= local_time_ago item.time %>
      </p>
    </div>
    <div class="card-footer">
      <% unless item.job? %>
        <p class="card-footer-item">
          <%= link_to pluralize(item.descendants, 'comment'), item_path(item.hn_id) %>
        </p>
      <% end %>
      <% unless item.job? %>
        <p class="card-footer-item is-small">
          &nbsp;<span class="level-item by">by&nbsp;<a href="/user/<%= item.by %>"><%= item.by %></a></span>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
