<%= cache item do %>
  <li class="news-item" data-item-id="<%= item.id %>">
    <span class="score"><%= item.score %></span>
    <span class="title">
      <% if item.url.nil? %>
        <%= link_to item.title, item_path(item.hn_id) %>
      <% else %>
        <%= link_to item.title, item.url, { target: '_blank', rel: 'noopener' } %> <span class="host"> (<%= item.host %>) </span>
      <% end %>
    </span>
    <br>
    <span class="meta">
      <% unless item.job? %>
        <span class="by">by <a href="/user/<%= item.by %>"><%= item.by %></a></span>
      <% end %>
      <span class="time"> <%= local_time_ago item.time %> </span>
      <% unless item.job? %>
        <span class="comments-link"> | <%= link_to pluralize(item.descendants, 'comment'), item_path(item.hn_id) %></span>
      <% end %>
    </span>
    <% if item.job? %>
      <span class="label">job</span>
    <% end %>
  </li>
<% end %>