<%= cache ['item', @item] do %>
<div data-controller="item" data-item-id="<%= @item.hn_id %>">
  <div data-target="item.metadata">
    <%= render  @item %>
  </div>
  <div class="card">
    <header class="card-header" data-target='item.commentsHeader'>
      <%= render partial: 'comments_header', locals: { item: @item, completed: false } %>
    </header>
    
    <div class="card-content" data-controller="comments" data-comments-hn-id="<%= @item.hn_id %>" data-target="comments.comments">
      <% if @item.descendants > 0 %>
        <%= render partial: 'comments', locals: { item: @item } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>