<nav class="pagination" role="navigation" aria-label="pagination">
  <% unless page <= 0 %>
    <%= link_to "&lt; prev".html_safe, "#{path}?page=#{page - 1}", class: "pagination-previous" %>
  <% end %>
  <ul class="pagination-list">
    <li>
      <a class="pagination-link is-current" aria-label="Page <%= page + 1 %>" aria-current="page"><%= page + 1 %>/ <%= @total_pages + 1 %></a>
    </li>
  </ul>
  <% unless page + 1 > total_pages %>
    <%= link_to "more &gt;".html_safe, "#{path}?page=#{page + 1}", class: "pagination-next" %>
  <% end %>
</nav>