<!DOCTYPE html>
<html>
  <head>
    <title>Hacker News Progressive Web App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= action_cable_meta_tag %>
  </head>
  <body>
    <header class="header">
      <nav class="inner">
        <a href="/" class=""><%= image_tag "home.svg", width: "23px" %></a>
        <a href="/top" class="<%= content_for :top_items_active %>">Top</a>
        <a href="/new" class="<%= content_for :new_items_active %>">New</a>
        <a href="/show" class="<%= content_for :show_items_active %>">Show</a>
        <a href="/ask" class="<%= content_for :ask_items_active %>">Ask</a>
        <a href="/job" class="">Jobs</a>
        <a href="https://github.com/" target="_blank" rel="noopener" class="github">
          Built with Rails + Stimulus
        </a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>